<div class="row">
  <div class="col-md-4">
    <a href="./images/mr-dawes-singing.jpeg" class="thumbnail">
      <p>The Miser Acts Miserly!</p>
      <img src="./images/mr-dawes-singing.jpeg" alt="Dawes-1" style="cover">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./images/mr-dawes-dancing.jpeg" class="thumbnail">
      <p>Get Down!</p>
      <img src="./images/mr-dawes-dancing.jpeg" alt="Dawes-2" style="430px x 264px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./images/mr-dawes-flying.jpeg" class="thumbnail">
      <p>Remption Through Laughter</p>
      <img src="./images/mr-dawes-flying.jpeg" alt="Dawes-3" style="cover">
    </a>
  </div>
</div>
