<div ng-app="myApp" ng-controller="maryController">
  <button ng-click="toggle()">Learn All About Mary</button>
  <p ng-show="myVar">
First Name: <input type=text ng-model="firstName"><br>
Last Name: <input type=text ng-model="lastName"><br>
All About: <input type=text ng-model="message"></td><br>
</p>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="./images/mary.jpeg" class="thumbnail">
      <p>Practically Perfect!</p>
      <img src="./images/mary.jpeg" alt="Mary-1" style="cover">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./images/640_mary_poppins.jpg" class="thumbnail">
      <p>Out On the Town!</p>
      <img src="./images/640_mary_poppins.jpg" alt="Mary-2" style="cover">
    </a>
  </div>
  <div class="col-md-4">
    <a href="./images/Mary-Poppins-1.jpg" class="thumbnail">
      <p>We All Love Her!</p>
      <img src="./images/Mary-Poppins-1.jpg" alt="Mary-3" style="cover">
    </a>
  </div>
</div>
